
@charset "UTF-8";
@font-face {
    font-family: 'EbrimaNormal';
    src: url('fonts/ebrima.eot');
    src: url('fonts/ebrima?#iefix') format('embedded-opentype'),
        url('fonts/ebrima.woff') format('woff'),
        url('fonts/ebrima.ttf') format('truetype'),
        url('fonts/ebrima.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
}
li
{
    list-style:none;
}
img
{
    border:none;
}
a
{
    text-decoration:none;
}
a{
    color: #333;
    cursor: pointer;
}
a:focus, a:hover{
    color: red ;
    text-decoration: none;
}
button{
    cursor: pointer;
}

a:focus {
    outline: medium none;
    outline-offset: 0;
}
a:focus, a:hover{
    text-decoration: none !important;
}
.form-control:focus{
    border-color: #7aa307;
    box-shadow: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
    outline: none;
}
body
{

    margin: 0 auto;
    color:#7f7f7f !important;
    font-size:14px;
    font-family: 'EbrimaNormal',Arial, sans-serif !important;
}
 #logo, #site_content,
{
    margin-left: auto;
    margin-right: auto;
}
#sidebar, #sidebar a
{
    background:none;
    padding-left:0px;
}
#left_part{
    width:auto;
}
.infoBoxContainer
{
    margin-bottom: 15px;
}
.infoBoxHeading
{
    background:none;
    color: #7aa307;
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    margin-bottom:5px;
}
.infoBoxContents
{
    padding-left: 12px;
    font-size: 14px;
}
.infoBoxContents a
{
    padding-left: 15px;
    line-height: 30px;
    color: #7f7f7f;
}
.infoBoxContents a strong
{
    font-weight: normal;
    color:#7AA307;
}

.infoBoxHeading a
{
    color:#31708f7;
}
.infoBoxContents_img
{
    width:100px;
    float:left;
    padding-top:15px;
}
.infoBoxContents_img1
{
    width:100px;
    float:left;
    padding-top:5px;
}
.infoBoxContents_img a
{
    background:none;
    padding:0;
    width:100px;
}
.infoBoxContents_star
{
    width:110px;
    float:right;
}
.infoBoxContents_star a
{
    background:none;
    padding:0;
    line-height:17px;
}
.infoBoxContents_star img
{
    padding-top:5px;
}
#right_part
{
    width:auto;
}
.bg_best {
    height: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 6px;
    position: relative;
    width: 100%;
}
.product_title a{
    color: #7aa307;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.popb{
  width:140px;
  height:25px;
  border:1px solid;
}
.modal{
  display:none;
  padding-top:10px;
  top:0;
  position:fixed;
  width:50%;
  height:100%;
}
.modal-content{
  width:50%;
  height:auto;
  margin:auto;
  border:1px solid;
  background-color: grey;

}
#but
{
    color:#FFFFFF;
    text-transform:uppercase;
    background: #7aa307;
}
.button
{
    margin-top:5px;
}
#right_part .infoBoxHeading
{
    padding-left:0px;
}
.contentText h1
{
    border-bottom: 1px dashed #C1BEBE;
    color: #28A7DC;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.contentText p {
    font-size: 13.5px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    /*    margin: 0 !important;  05/04/16*/
}
.contentText .product-grid .caption > p, .contentText .product-list .caption > p{
    padding: 0;
}
.product-grid .product-thumb, .product-list .product-thumb {
    padding: 10px;
}
.contentText p strong {
    color: #28A7DC;
}
.li_product_desc .caption > p {
    padding: 0 10px;
}
.review
{
    padding:0px;
    max-width:210px;
}
#new_products,#month_products
{
    width: auto;
}
.contentText
{
    width:auto;
    margin-bottom:10px;
}
#button
{
    margin-top:15px;
}

#footer_menu a
{
    color:#FFFFFF;
}
#footer_menu a:hover{
    color: #7aa307;
}

#prev
{
    height:25px;
    float:right;
    margin-left:5px;
    margin-top:3px;
}
.review_info
{
    float:left;
}
.footer-background{
    background: black;
}
.product-thumb-height .product-thumb{
    min-height: 320px;
}
.product-thumb{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 4px #f3f3f3;
    margin-bottom: 15px;
    overflow: auto;
}

.product-thumb .image img {
    overflow: hidden;
}
.product-thumb .caption {
    min-height: 80px;
}
.new_price1{
    color: #ff0000;

    font-size: 20px;

}
.li_product_title{
    margin: 10px;
}
.li_product_image {
    height: 160px;
    margin: 10px;
}
.li_product_image img{
    height: 100%;
}
.li_product_price{
    margin: 10px;
}
.li_product_buy_button{
    margin: 10px;
}
.li_product_desc{
    clear: both
}
.img_pro_size_set{
    width: 100px !important;
    height: 80px !important;
}

.bg-color{
    background: #39BAF0 !important;
    border-color: white !important;
    box-shadow: 5px 5px 5px 0px gainsboro !important;
    margin: 0px 0 10px 0 !important;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-inverse {

    background: black !important;
    border-color: transparent !important;
    //border-radius: 10px !important;

    /*    background:url(http://steroid-shop.local/images/menu-bg.png) no-repeat;*/

}
#a_hower_menu a{
    display:block !important;
    height:60px !important;
    margin-top:3px !important;
    color:blue !important;
    padding:0px 9px !important;
    font-size: 13px !important;
    text-decoration: none !important;
    line-height: 50px !important;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background: blue !important;
    box-shadow: 1px 5px 5px 0px blue !important;
    color:white !important;
}
.navbar-inverse .navbar-nav > li > a
{
    color:white !important;
    text-transform: capitalize;
}
.input-group .form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    // border-radius: 10px;
    font-size: 13px;
    background: #EAEAEA;

    border: medium none;
    /*    height: 40px;*/
    outline: medium none;

}
.input-group-addon {
    background: #31708f !important;


}
#accordan_plus{
    display: none;
    font-size: 13px;
}
.btn-default {
    background: #31708f !important;
    color: white !important;
    border-radius: 0 !important;
    border: none;
    font-weight: 600;
}

.btn-default:hover {
    background: #39BAF0 !important;
    color: white !important;

}
.add_margin{
    margin-top: 10px;
}
.btn_background{
    background: none !important;
}
.btn-primary{
    background: #7aa307 none repeat scroll 0 0 ;
    border: 1px solid #7aa307 ;
    border-radius: 0px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: #39baf0;
    border: 1px solid #39baf0;
    // border-radius: 5px;
}
.product-thumb .button-group {
    background-color: #eee;
    border-top: 1px solid #ddd;
    overflow: auto;
}

.product-list .product-thumb .image {
    float: left;
    height: auto;
    overflow: hidden;
    padding: 15px;
    width: 35%;
}
.product-grid .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.margin-top{
    margin-top: 30px;
}
a:hover{
    text-decoration: none;
    color: black;
}

.i_gray_color{
    color: #7F7F7F;
}
.i_gray_color:hover{
    color: black;
}
.text-bold{
    font-weight: 600;
}
.logo-text{
    color: #183fcaf5;
    font-weight: 600;
    font-size: 50px;
    padding: 30px 0;
    display: inline-block;
    text-align: center;
    letter-spacing: -8px;
    text-transform: uppercase;
}
#logo a:hover{
    color:#7aa307 !important;
}
.logo-text > span {
    color: #39baf0;
    font-size: 40px;
    text-transform: uppercase;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #39baf0;
}
.product-section li > span {
    font-size: 16px;
    font-weight: 600;
}
span.check-stock {
    background: #333 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 15px !important;
    font-weight: normal !important;
    padding: 5px 15px;
}
.product-section.list-unstyled li + li {
    margin-top: 10px;
}

.col-md-offset-6{
    margin-left: -1px;
}
.fix-box{
    height: 300px;
}
.fix-box img{
    height: 100%;
}
.mr_5{
    margin-right: 5px;
}
#content .product-thumb-height .product-thumb {
    min-height: 200px;
}
#tab-description p{
    margin: 0 20px 20px !important;
}
.li_product_buy_button a, .product-thumb .book-btn{
    padding: 8px 12px !important;
}
}
@media only screen and (min-device-width: 992px) and (max-device-width:1199px){
    .nav > li > a{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width:991px){
    .pl-0 .dropdown.btn-group, .pl_0 .dropdown.btn-group {
        margin: 0.3em 0 0;
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width:767px){
    .bg-color {
        background: transparent !important;
    }
    .navbar-inverse {
    border-color: #fff !important;
}
    .txt-left{
        text-align: left;
    }
    #tab-description p{
        text-align: justify;
    }
    .rel-product .infoBoxHeading{
        text-align: center;
    }
    .li_product_image{
        float: none !important;
    }
    .caption{
        min-height: auto !important;
    }

    .infoBoxHeading a:hover{
        color: black !important;
        text-decoration: none !important;
    }
    .panel-heading{
        height: 40px !important;
    }
    #search{
        margin-bottom: 10px;
    }


    #navbar_hide{
        display: block !important;
    }
    #nav_show{
        display: none !important;
    }
    #logo{
        display: none !important;
    }
    .navbar-inverse{
        box-shadow: none !important;

    }
    .navbar-header{
        background: white;
    }
    .disable_content{
        display: none;
    }
    .panel-heading a {
        font-size: 15px !important;
    }
    .login .btn {
        padding: 6px 8px;
    }
    .txt-center{
        text-align: center !important;
    }
    .logo-text {
        padding: 30px 0 10px;
    }
    #footer_menu{
        margin-top: 0;
    }
    .contentText h1{
        text-align: center;
    }
    .contentText p {
        text-align: center;
    }
    .product_title a{
        text-align: center;
    }
    .contentText h1{
        font-size: 18px;
    }
    h1{
        font-size: 25px;
    }
    .product-thumb .image img {
        margin-left: auto;
        margin-right: auto;
    }
    .rel-product a img{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .product-thumb-height .product-thumb .btn{
        padding: 10px;
        font-size: 14px;
    }
    .btn {
        // padding: 6px 10px;
        font-size: 13px;
    }
    .pl_0{
        padding-left: 10px;
    }
    .infoBoxHeading {
        font-size: 18px;
    }
    .h3, h3 {
        font-size: 22px;
    }
    .product_title{
        font-size: 16px;
    }
    .new_price{
        font-size: 20px;
    }
    .contentText p {
        font-size: 12.5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contentText h1{
        font-size: 20px;
    }
    .new_price1 {
        font-size: 18px;
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 479px){

    .txt-center{
        text-align: center !important;
    }
    .logo-text {
        padding: 30px 0 10px;
    }
    #footer_menu{
        margin-top: 0;
    }
    .product-list .product-thumb .image{
        width: 100%;
    }
    .product-list .product-details-box{
        width:100%;
    }
}
@media only screen
and (min-device-width: 480px)
and (max-device-width: 767px) {
    .product-layout_width .product-layout {
        width:50%;
        float: left;
    }
    .txt-center{
        text-align: center !important;
    }
    .logo-text {
        padding: 30px 0 10px;
    }
    #footer_menu{
        margin-top: 0;
    }
    .product_title a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen
and (max-device-width: 640px){

    .product-thumb-height .product-thumb {
        min-height: 320px;
    }
    .infoBoxContents .img-responsive{
        max-width: 50%;
    }
    .li_product_price {
        text-align: center;
    }
    .li_product_title {
        margin: 10px;
        text-align: center;
    }
    .footer-background .pull-right{
        float:none !important;
    }
    #social_icons, .copyright{
        text-align: center !important;
    }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .dropdown-bn .btn{
        padding: 8px 4px !important;
    }

}
@media only screen
and (min-device-width: 360px)
and (max-device-width: 399px){
    .wd-33{
        width:43% !important;
    }
}
@media only screen
and (min-device-width: 400px)
and (max-device-width: 460px){
    .wd-33{
        width:39% !important;
    }
}
@media only screen
and (min-device-width: 480px)
and (max-device-width: 567px){
    .wd-33{
        width:33% !important;
    }
}
@media only screen
and (min-device-width: 640px)
and (max-device-width: 687px){
    .wd-33{
        width:25% !important;
    }
}
@media only screen
and (min-device-width: 568px)
and (max-device-width: 639px){
    .wd-33{
        width:28% !important;
    }
}

@media only screen
and (width: 568px)
and (orientation: landscape){
    .wd-33{
        width:28%;
    }
}

@media only screen
and (min-device-width: 480px)
and (max-device-width: 600px)
and (orientation: landscape){
    .col-xs-4 {
        width: auto !important;
    }

}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 991px) {
  
    #footer1 .logo-text{
        font-size: 30px;
        padding-top: 5px;
    }
    .footer-background {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
@media (min-width: 992px) {
    #footer_menu {
        padding: 25px 0 30px 30px;
    }
}
.review-img .img-circle{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    float: left;
    margin-right: 20px;
}
.review-img p{
    padding-top: 10px;
}
#review{
    margin: 30px 0;
}
#tab-description .desc-img{
    width: 50% !important;
    height: 130px;
}

.rel-product .infoBoxHeading {
    font-size: 25px;
    padding-left: 0px;
    margin-bottom: 10px;
}
.rel-product a img{
    height: 160px;
    overflow: hidden;
}
.remove_PL{
    padding-left: 0;
}
.wd_auto{
    width:auto;
}
.dropdown-bn .btn-primary{
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    text-transform: capitalize;
    letter-spacing: 1px !important;
    color: #7aa307 !important;
    float: left;
}
.btn-primary:focus {
    outline: none;
}
